.rz-bg-color {
    background-color: #42b5a6 !important;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}
body {
    font-family: 'Montserrat', sans-serif;
}


#breadcrumb {
    color: #42b5a6;
    text-align: center;
    height: 70px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 180%;
    float: center;

}

#breadcrumb a {
    background-color: #fda4ac;
    text-decoration: none;
    padding-top: 10px;
    display: inline-block;
    width: 300px;
    height: 60px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 0 grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 #000;
    /* box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1); */
    z-index: 0;
}

#breadcrumb a:first-child {
    border-radius: 6px 0 0 6px;
}

#breadcrumb img {
    -webkit-filter: drop-shadow(0 5px 5px 5px rgba(100, 100, 100, 0.4));
    filter: drop-shadow(0 5px 5px 5px rgba(100, 100, 100, 0.4));
}



#breadcrumb a:visited {
    color: #fff;
}


#icons {
    color: #818181;
    padding: 15px 15px 0 15px;
    margin-bottom: 50px;
}

#icons i {
    padding-left: 100px;
    padding-right: 100px;
}
#wrapper {
    width: 800px;
    height: 900px;
    margin: 0 auto;

}


.flexit {
    justify-content: center;
}

footer {
    position: flex;
    margin: 0 auto;
    background-color: darkgray;
}
